.card-container {
  flex: 1 0 16%; /* explanation below */
  cursor: pointer;
  background-color: whitesmoke;
  margin: 1%;
  height: 200px;
  border-left: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  width: 200px;
  box-shadow: 2px 4px #c4c3c3;

  transition: 1s;
}
.checkbox-container {
  position: absolute;
  margin: 5px;
  opacity: 0;
}

.showSelect {
  opacity: 1;
}

.card-container:hover {
  transform: scale(1.1);
  z-index: 1;
}

.img-container {
  height: 150px;
  object-fit: cover;
  margin: auto;
  overflow: hidden;
  margin-top: 10px;
}
.img-container img {
  max-width: 100%;
  max-height: 100%;
  z-index: 100;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.product-title {
  font-weight: bold;
  text-overflow: ellipsis;
  padding: 0px 20px;
  white-space: nowrap;
  overflow: hidden;
}

.product-description {
  position: relative;
  top: -100px;
  text-align: start;
  padding-top: 0px;
  padding: 10px;
  z-index: 0;
  transition: 0.5s;
  opacity: 0;
  background-color: whitesmoke;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.card-container:hover .product-description {
  transform: translateY(90px);
  background: rgba(255, 255, 255, 0.622);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.9px);
  -webkit-backdrop-filter: blur(6.9px);
  border: 1px solid rgba(255, 255, 255, 0.471);
  opacity: 1;
}

.product-brands-label {
  color: var(--NN950, #212121);
  font-size: 0.86rem;
  line-height: 1.5;
  max-width: 100%;
  max-height: 100%;
  white-space: pre-wrap;
  word-break: keep-all;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 4px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: bold;
  margin: 0px;
}
.ecoscore-grade {
  position: absolute;
  background-color: red;
  color: white;
  font-size: larger;
  padding: 10px;
  right: 0px;
  top: 30%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.brands-name {
  margin: 0px;
}
.product-barcode {
  margin: 0px;
}
.product-barcode-label {
  display: flex;
  margin: 0px;
  font-size: smaller;
}
.manufacturing-place {
  white-space: pre-wrap;
  word-break: keep-all;
  text-overflow: ellipsis;
  overflow: hidden;
}
