.sideBar-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  position: fixed;
  top: 0;
  left: -320px;
  transition: 1s;
  background-color: black;
  color: white;
  padding-top: 6%;
  height: 100%;
  z-index: 10;
}
.sideBar-toggle-button {
  color: black;
  display: flex;
  position: fixed;
  width: auto;
  height: auto;
  z-index: 15;
  cursor: pointer;
  padding: 2%;
}

.ios-back-arrow {
  color: white;
}

.show {
  transform: translateX(320px);
}
