.footer-container {
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 300px;
  color: white;
  background-image: url("../../assets/footer-background.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.footer-left {
  flex: 3;
  display: flex;
  padding: 0px 10%;
}
.footer-left div {
  margin-right: 50px;
}
.footer-right {
  flex: 1;
}
.profile-container {
  display: flex;
  flex-direction: column;
}
.profile-title {
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: bold;
}
.profile-desc {
  font-size: 15px;
  color: rgb(169, 169, 169);
  text-decoration: none;
}
.footer-bottom {
  position: absolute;
  margin-top: 250px;
  border-top: 2px solid gray;
  width: 80%;
  text-align: center;
  padding-top: 10px;
  color: gray;
}
